*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.contenedor-modal-perfil{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0; 
    z-index:1000;
}

.contenedor-modal-perfil-cerrado{
    display: none;
}

.contenedor-modal-perfil .contenido-modal{
    margin-top:50px;
    margin-left: 400px;
    width:600px;
    background-color: rgba(0,0,0,.8);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 600px;
}

.contenedor-modal-perfil .contenido-modal img{
    float: right;
    background: red;
    cursor: pointer;
    margin: 20px;
}


.contenedor-modal-perfil .contenido-modal form {
    width: 100%;
    padding: 25px;
}


.contenedor-modal-perfil .contenido-modal form input{
    text-align:center;
    margin: 10px;
    padding:10px;
    width:90%;
    border: 2px solid black;
    border-radius:15px;
    font-size: 18px;
}

/*estilos para los botones*/

.contenedor-modal-perfil .contenido-modal form .btn-actualizar{
    text-align: center;
    border-radius:7px;
    background:#00C412;
    padding:15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin: 15px;
}


.contenedor-modal-perfil .contenido-modal form .btn-actualizar:hover{
    opacity: 0.90;
}

.contenedor-modal-perfil .contenido-modal .enlace{
    color: white;
    text-decoration: none;
    margin-left: 200px; 
}

.contenedor-modal-perfil .contenido-modal .cambio-password{
    padding:20px;
}

.contenedor-modal-perfil .contenido-modal .mostrar-formulario{
    display: block;
}

.contenedor-modal-perfil .contenido-modal .formulario-ocultar{
    display: none;
}
